<!DOCTYPE html>
<div class="container">
<html>
<head>
  <title>Hotelier</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>

<cldiv ass="navbar">
<div class="navbar navbar-bottom">
  <div class="navbar-inner">
    <a class="brand" href="/">Hotel Rilana</a>
    <ul class="nav">
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </div>
              <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> |
              <%= link_to "Login", new_user_session_path %>
            <% end %>
</div>
</div>
</body>
</html>
</div>

